/*i made this project together with w3schools */
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap');
body {
	margin: 0;
	width: 100%;
	height: 100vh;
	background: linear-gradient(45deg, #ffa9a9, #a4b6ff, #ff9e9e, #99b3ff);
	background-size: 500% 500%;
	animation: animeBG 15s ease infinite;
	animation-direction: alternate;
}

@keyframes animeBG {
    0% {background-position: 0%}
    100% {background-position: 100%}
}
*{
    box-sizing: border-box;

}

h2{
    text-align: center;
    padding: 2rem;
    font-family: 'Raleway', sans-serif;
}

ul{
 margin: 0;
 padding: auto;
 padding-right: 15%;
 padding-left: 15%;
 list-style-type: none;
}

ul li{
    text-align: center;
    cursor: pointer;
    position: relative;
    padding: 1rem 2rem 1rem 5rem;
    background: #eee;
    font-size: 1.2rem;
    transition: 0.2s;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

ul li:nth-child(odd) {
    background: #f9f9f9;
}

ul li:hover{
    background: #ddd;
}

ul li.checked {
    background: #888;
    color: #fff;
    text-decoration: line-through;
}

ul li.checked::before{
    content: '';
    position:absolute;
    border-color: #fff;
    border-style: solid;
    border-width: 0 2px 2px 0;
    top: 10px;
    left: 16px;
    transform: rotate(45deg);
    height: 15px;
    width: 7px;
    
}
.close {
    position: absolute;
    right: 0;
    top: 0;

    padding: 1rem 1.25rem 1rem 1.25rem ;
  }
  .close:hover {
    background-color: #f44336;
    color: rgb(255, 255, 255);
  }

  .header {
    padding: 4rem 2rem;
    text-align: center;
  }

  .header:after {
    content: "";
    display: table;
    clear: both;
  }

  input {

    justify-content: center;
    background-color: white;
    border: solid;
    border-width: 1px;
    border-radius: 0;
    width: 40%;
    padding: 10px;
    float: left;
    font-size: 16px;
    margin-left: 25%;



  }


  .addBtn {
    min-width: 100px;
    max-height: 41px;
    padding: 10px;
    width: 10%;
    background: #d9d9d9;
    color: #555;
    float: left;
    border-style: solid;
    border-color: rgb(0, 0, 0);
    border-width: 1px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 0;
    font-style: italic;

  }
  
  .addBtn:hover {
    background-color:rgb(20, 131, 61);
    color: white;

  }